<form [formGroup]="cadastroForm">
  <div class="flex justify-center items-center h-screen">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
      <mat-card>
        <mat-card-header class="justify-center mb-4">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Endereço de email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="emailInvalido">
              Endereço de email inválido.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full relative">
            <mat-label>Senha</mat-label>
            <input
              matInput
              [type]="esconder ? 'password' : 'text'"
              matInput
              formControlName="senha"
            />
            <button mat-icon-button matSuffix (click)="esconder = !esconder">
              <mat-icon>{{
                esconder ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <div class="mb-8">
            <a href="/" class="text-blue-600 hover:underline text-sm"
              >Esqueceu a senha?</a
            >
          </div>

          <mat-card-actions class="justify-center mb-4">
            <button
              mat-flat-button
              color="primary"
              class="w-full"
              (click)="enviar()"
            >
              Entrar
            </button>
          </mat-card-actions>

          <div class="text-center text-sm">
            <span>Ainda não possui uma conta? </span>
            <a
              [routerLink]="['/cadastro']"
              class="text-blue-600 hover:underline"
              >Cadastre-se aqui.</a
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
